.album-details{
    border:3px solid blueviolet;
    display: flex;
    height: 100px;
        width: 600px;
        background-color: darkolivegreen;
        border-radius: 15px;
        margin-left: 5rem;
        margin-top: 2rem;
        

}
h2{
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
}
.album-title{
    display: flex;
    text-align: center;
    position: relative;
    
    
}
.editDet{
    position: absolute;
    left: 520px;
    top: 60px;
    border-radius: 5px;
}

.deleteDet{
    position: absolute;
    left: 560px;
    top: 60px;
    border-radius: 5px;
}